body{
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background: linear-gradient(#000046,#1CB5E0);
			color: white;
		}
		.container{
			background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
			/*color: #4070f4;*/
			font-weight: 600;
			padding: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		form{
			display: grid;
			grid-template-columns: auto auto;
			grid-row-gap: 1rem;
			grid-column-gap: 3rem;
			justify-content: center;
			align-items: center;
		}
		h1{
			margin: 0;
			text-align: center;
			font-weight: 600;
		}
		label{
			font-size: 1.3rem;
		}
		input{
			background: rgba( 255, 255, 255, 0.25 );
			backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            outline: none;
            border: none;
		}
		.check{
			accent-color: #4070f4;
		}
		.PasswordDisplay{
			background: rgba( 255, 255, 255, 0.25 );
			backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
			padding: 1rem;
			height: 2rem;
			width: 350px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			font-weight: 600;
			/*color: #4070f4;*/
			/*word-break: break-all;*/
		}
		.btn{
			grid-column: span 2;
			background-color: transparent;
			border: 2px solid white;
			color: white;
			padding: .5rem 1rem;
			font-weight: bold;
			cursor: pointer;
			border-radius: 1rem;
		}

		@media(max-width: 768px){
			body{
				color: black;
			}
			.container{
				width: 60%;
			}
			.PasswordDisplay{
				width: 90%;
			}
		}